In [1]:
import pandas as pd

path = input("Type in path to csv: ")
df = pd.read_csv (path)
FAdf = pd.read_csv (r'/content/free_agents.csv')

Type in path to csv: /content/981c6fa8-615e-44fb-9eb6-58c4b220d12e_2022-02-19.csv

                   Picked At  ...  Draft Pool Size
0    2022-02-15 23:52:57 UTC  ...              NaN
1    2022-02-15 23:45:56 UTC  ...              NaN
2    2022-02-15 23:37:15 UTC  ...              NaN
3    2022-02-16 00:47:11 UTC  ...              NaN
4    2022-02-16 00:11:55 UTC  ...              NaN
..                       ...  ...              ...
415  2022-02-18 17:50:04 UTC  ...              NaN
416  2022-02-18 20:18:02 UTC  ...              NaN
417  2022-02-18 19:37:10 UTC  ...              NaN
418  2022-02-18 21:03:56 UTC  ...              NaN
419  2022-02-18 20:44:16 UTC  ...              NaN

[420 rows x 22 columns]

In [2]:
def GetFreeAgents(df):
  freeAgentList = []
  for i in range(len(df)):
    player = Player(df.at[i, 'First Name'], df.at[i, 'Last Name'], df.at[i, 'Position'], df.at[i, 'Team'], -1)
    freeAgentList.append(player.playerkey)
  return freeAgentList

In [34]:
from operator import itemgetter
class Player:
  def __init__(self, firstname, lastname, pos, team, picknum):
    self.firstname = firstname
    self.lastname = lastname
    self.pos = pos
    self.team = team
    self.playerkey = '{}_{}_{}_{}'.format(self.firstname, self.lastname, self.pos, self.team)
    self.drafts = []
    self.common_expo = []
    self.picknums = [picknum]
  def __repr__(self):
    return '{} {}'.format(self.firstname, self.lastname)
  def AddPick(self, pick):
    self.picknums.append(pick)
  def getPicks(self):
    return self.picknums
  def AddExpo(self, df, num, freeAgents):
    self.drafts.append(num)
    for i in range(len(df)):
      player = Player(df.at[i, 'First Name'], df.at[i, 'Last Name'], df.at[i, 'Position'], df.at[i, 'Team'], df.at[i, 'Pick Number'])
      if self.playerkey != player.playerkey:
        newExpo = True
        for j in self.common_expo:
          if j[0].playerkey == player.playerkey:
            j[3] += 1
            j[4].append(num)
            newExpo = False
            break
        if newExpo == True:
          if player.playerkey in freeAgents:
              player.team = '{}*'.format(player.team)
          self.common_expo.append([player,player.pos,player.team, 1, [num]])
  def GetCommonExpo(self):
    return pd.DataFrame(sorted(self.common_expo, key=itemgetter(3), reverse=True), columns = ['Player','Pos','Team','Times Drafted Together','Common Drafts'])
  def GetPlayerInfo(self):
    print('{} {} {} {} {}\n'.format(self.firstname, self.lastname, self.pos, self.team, self.picknums))
    return pd.DataFrame(sorted(self.common_expo, key=itemgetter(3), reverse=True), columns = ['Player','Pos','Team','Times Drafted Together','Common Drafts'])

In [36]:
def DraftGen(df):
  df2 = df.sort_values(by=['Draft']).iloc[:, 0:8]
  drafts = []
  for i in range(len(df)):
     if df2.at[i, 'Draft'] not in drafts:
       drafts.append(df2.at[i, 'Draft'])
  for i in range(len(df)):
    for k in range(len(drafts)):
      if df2.at[i, 'Draft'] == drafts[k]:
        df2.at[i, 'Draft'] = k + 1
  drafts = dict(iter(df2.groupby('Draft')))
  return drafts

In [42]:
def AddDraft(df, playerlist, num, freeAgents):
  for i in range(len(df)):
    player = Player(df.at[i, 'First Name'], df.at[i, 'Last Name'], df.at[i, 'Position'], df.at[i, 'Team'], df.at[i, 'Pick Number'])
    newPlayer = True
    for j in playerlist:
      if j.playerkey == player.playerkey:
        j.AddExpo(df,num, freeAgents)
        j.AddPick(df.at[i, 'Pick Number'])
        newPlayer = False
        break
    if newPlayer == True:
      if player.playerkey in freeAgents:
        player.team = '{}*'.format(player.team)
      playerlist.append(player)
      player.AddExpo(df,num, freeAgents)
  return playerlist

In [38]:
def PlayerSearch(playerList, search):
  #TODO If players have same name
  searchedPlayer = search.split()
  retList = [player for player in playerList if player.firstname == searchedPlayer[0] and player.lastname == searchedPlayer[1]]
  return retList

In [39]:
def Search():
  search = input("Search: ")
  player = PlayerSearch(playerList, search)
  return player[0].GetPlayerInfo()

In [35]:
freeAgents = GetFreeAgents(FAdf)

In [40]:
drafts = DraftGen(df)

In [55]:
playerList = []
for i in drafts:
  drafts[i] = drafts.get(i).sort_values(by=['Picked At'])
  playerList = AddDraft(drafts.get(i).reset_index(), playerList, i, freeAgents)

In [56]:
Search()

Search: Josh Allen
Josh Allen QB BUF [29, 31]

               Player Pos  Team  Times Drafted Together Common Drafts
0       Austin Ekeler  RB   LAC                       2        [2, 7]
1          Tyler Boyd  WR   CIN                       2        [2, 7]
2     Isaiah McKenzie  WR  BUF*                       2        [2, 7]
3        Mark Andrews  TE   BAL                       1           [2]
4        Elijah Moore  WR   NYJ                       1           [2]
5   Amon-Ra St. Brown  WR   DET                       1           [2]
6       Gabriel Davis  WR   BUF                       1           [2]
7           AJ Dillon  RB    GB                       1           [2]
8        James Conner  RB  ARI*                       1           [2]
9         Corey Davis  WR   NYJ                       1           [2]
10          Zach Ertz  TE  ARI*                       1           [2]
11       Russell Gage  WR   ATL                       1           [2]
12        Gus Edwards  RB   BAL                       1           [2]
13        Tim Patrick  WR   DEN                       1           [2]
14    Jamaal Williams  RB   DET                       1           [2]
15         Jared Goff  QB   DET                       1           [2]
16          Zay Jones  WR   LV*                       1           [2]
17         A.J. Green  WR  ARI*                       1           [2]
18    Devontae Booker  RB   NYG                       1           [2]
19       Stefon Diggs  WR   BUF                       1           [7]
20    Elijah Mitchell  RB    SF                       1           [7]
21    Michael Pittman  WR   IND                       1           [7]
22      Treylon Burks  WR   NaN                       1           [7]
23        Dawson Knox  TE   BUF                       1           [7]
24       Drake London  WR   NaN                       1           [7]
25     Kenneth Walker  RB   NaN                       1           [7]
26       Hunter Henry  TE    NE                       1           [7]
27      Van Jefferson  WR   LAR                       1           [7]
28    Kendrick Bourne  WR    NE                       1           [7]
29      Chuba Hubbard  RB   CAR                       1           [7]
30        Sony Michel  RB  LAR*                       1           [7]
31    Jimmy Garoppolo  QB    SF                       1           [7]
32         Skyy Moore  WR   NaN                       1           [7]
33      Brevin Jordan  TE   HOU                       1           [7]
34        Davis Mills  QB   HOU                       1           [7]

In [57]:
drafts[6]

                   Picked At  Pick Number  ... Position Draft
86   2022-02-16 14:55:24 UTC           12  ...       RB     6
85   2022-02-16 14:55:27 UTC           13  ...       RB     6
227  2022-02-16 14:59:35 UTC           36  ...       WR     6
226  2022-02-16 14:59:58 UTC           37  ...       WR     6
225  2022-02-16 15:04:41 UTC           60  ...       WR     6
14   2022-02-16 15:04:51 UTC           61  ...       QB     6
224  2022-02-16 15:10:53 UTC           84  ...       WR     6
84   2022-02-16 15:11:18 UTC           85  ...       RB     6
223  2022-02-16 15:15:14 UTC          108  ...       WR     6
383  2022-02-16 15:15:35 UTC          109  ...       TE     6
83   2022-02-16 15:20:51 UTC          132  ...       RB     6
222  2022-02-16 15:21:06 UTC          133  ...       WR     6
221  2022-02-16 15:26:20 UTC          156  ...       WR     6
382  2022-02-16 15:26:34 UTC          157  ...       TE     6
13   2022-02-16 15:32:33 UTC          180  ...       QB     6
12   2022-02-16 15:32:35 UTC          181  ...       QB     6
220  2022-02-16 15:37:29 UTC          204  ...       WR     6
381  2022-02-16 15:37:37 UTC          205  ...       TE     6
219  2022-02-16 15:43:04 UTC          228  ...       WR     6
82   2022-02-16 15:43:07 UTC          229  ...       RB     6

[20 rows x 8 columns]